<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>

      <!-- <link href="/views/styles/deco.css" rel="stylesheet" type="text/css" /> -->
</head>
<body>
    <%- include('../styles/style.ejs') %>


    <h1><%= category %> Products</h1>
    <ul class="list-group" >
        <%for ( let product of products){ %>
            <li class="list-group-item"><a href = "/products/<%=product._id %>"> <%= product.name %></a></li>
            <%   }  %>
    </ul>

    <a href = "/products/new">New Product</a>

    <%if(category!=='All'){%>
        <a href = "/products">All Products</a>
    <% } %>

</body>
</html>